.header-upper {
	display: grid;
	grid-template-columns: 25px 4fr 25px 60px 1fr;
	align-items: center;
	justify-items: flex-start;
	margin-left: 20px;
  column-gap: 15px;
	color: black;
}

header input[type="text"] {
	width: 75%;
	background-color: #e1e7ef;
	border: none;
	height: 2em;
	border-radius: 1em;
	padding: 0px 10px;
}

header input[type="text"]:focus-visible {
	outline: ridge 1px orange;
}

.icon-small {
	justify-self: center;
	border-radius: 50%;
	height: 50px;
	padding: 10px 0px;
}

.header-upper span:last-child {
	font-weight: bold;
}

.header-lower {
	display: grid;
	grid-template-columns: 100px auto repeat(3,125px);
	align-items: center;
	font-weight: bold;
	column-gap: 15px;
	margin: 10px 40px 10px 20px;
}

.icon-medium {
	justify-self: center;
	border-radius: 50%;
	height: 75px;
	padding: 10px 0px;
}

.header-lower > :nth-child(2) {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

h1 {
	font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.blue-button {
	color: white;
	background-color: #2591ce;
	border-radius: 2em;
	text-align: center;
	padding: 0.75em 0;
	margin: 0 0.5em;
}